# Python-Laufzeit-Dateien
__pycache__/
*.py[cod]
*$py.class

# Lokale Anwendungs-Daten & Forensik (STRIKT IGNORIEREN)
.sys_cache.dat
.zug2ferd_settings.json
log/
stationery/

# Automatisch bezogene Abhängigkeiten (Dependencies)
bin/
packages/