# Python-Laufzeit-Dateien
__pycache__/
*.py[cod]
*$py.class

# Lokale Anwendungs-Daten & Forensik (STRIKT IGNORIEREN)
.sys_cache.dat
.zug2ferd_settings.json
log/
stationery/
tmp/*
!tmp/.gitkeep

# Automatisch bezogene Abhängigkeiten (Dependencies & JRE)
bin/*
!bin/.gitkeep
packages/*
!packages/.gitkeep

# Temporäre Download- und Entpackungs-Reste
*.tmp
.*.tmp
.jre_extract.tmp/

# PyInstaller / Build-Reste
build/
dist/
*.spec